/* Webfont: QuantaGroteskPro-Medium */@font-face {
    font-family: 'QuantaGroteskProMed';
    src: url('QuantaGroteskPro-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('QuantaGroteskPro-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

