/* Webfont: QuantaGroteskPro-Bold */@font-face {
    font-family: 'QuantaGroteskPro';
    src: url('QuantaGroteskPro-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('QuantaGroteskPro-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

