/* Webfont: QuantaGroteskPro-Regular */@font-face {
    font-family: 'QuantaGroteskPro';
    src: url('QuantaGroteskPro-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('QuantaGroteskPro-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

