/* Webfont: QuantaGroteskPro-SemiBold */@font-face {
    font-family: 'QuantaGroteskProSemBd';
    src: url('QuantaGroteskPro-SemiBold.woff2') format('woff2'), /* Modern Browsers */
         url('QuantaGroteskPro-SemiBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

